/* Configuración de barra de navegación */

nav ul{
    margin-top: 6rem;
}

.main-nav{
    list-style: none;
    background-color: aqua;
    padding-left: 0;
    margin-top: 10px;


}

.main-nav__item{
    display: flexbox;
    justify-content: space-around;
    margin-right: 10px;
   
}
.main-nav__item a{
    background-color: rgb(146, 34, 202);
    text-decoration: none;
    border-radius: .5rem;
    padding: 5px;
    color: white;
    font-size: 1rem;
    
}

.main-nav__item a:hover{
    color: rgb(55, 5, 86);
}
.main-nav__item a:active{
    color: rgb(159, 73, 213);
}
.main-nav__item a::after{
    content: " | ";
}
.main-nav__item a::before{
    content: " | ";
}