*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Afacad Flux", sans-serif ;
    background-color: #e0d7e3;
}
header{
    display: flex;
    background-color: white;
    justify-content: space-around;

}
main{
    background-color: #dd91ec;

}
.logo{
    width: auto;
}
.card-imgs{
    margin-top:2rem ;
    width: auto;
    height: auto;
}


.title{
    color: rgb(111, 67, 153);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: clamp(2rem, 5vw, 2.5rem);
}
.subtitle{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(53, 15, 123);
    font-size: clamp(1rem, 3vw, 1.5rem);
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(158, 137, 212);
    font-size: clamp(.5rem, 2vw, 1rem);
}



/* Usando GRID imagenes index*/

.card_imagenes{
    display: grid;
    grid-template-areas: "imagen" "imagen" "imagen";
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-template-rows: auto;
    padding: 5rem;
}
.card_imagen{
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 15px 15px 20px #b631d0;
    background-color: #5c136b;
}
.card_imagen:hover{
   background: linear-gradient(#310939, #cda1d6);
}
.card_imagen img{
    height: 400px;
    width: 400px;
}

/*  blog&catalogo */

.conteinerotros iframe{
    width: 500px;
    height: 300px;
}

.conteinerotros h2{
    font-size: 30px;
    margin-bottom: 2rem;
    margin-left: 100px;
}

.conteinerotros{
    display: grid;
    grid-template-areas: "blogVissual" "catalogo";
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-template-rows: auto;
    padding: 5rem;

}


@media (max-width: 768px){
    main{
        margin: 50px 0px 50px 200px;
    }

}

/* GRID videos design */
.main-content {
    max-width: auto;
    margin: auto;
    padding: 20px;
  }
  
  .section {
    margin-bottom: 40px;
  }
.card-media {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    border: 2px solid black;
  }
  
.card-media img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* tabla de precios */

.pricing {
    margin-top: 40px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f4f4f4;
  }
  