*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Afacad Flux", sans-serif ;
    background-color: #e9abf7;
}
header{
    display: flex;
    background-color: white;
    justify-content: space-around;

}
header img{
    margin-top:2rem ;
    width: auto;
    height: auto;

}
nav ul{
    margin-top: 6rem;
}

main{
    background-color: #dd91ec;

}
h1{
    color: rgb(111, 67, 153);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: clamp(2rem, 5vw, 2.5rem);
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(53, 15, 123);
    font-size: clamp(1rem, 3vw, 1.5rem);
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(158, 137, 212);
    font-size: clamp(.5rem, 2vw, 1rem);
}

/* Configuración de barra de navegación */

.main-nav{
    list-style: none;
    background-color: aqua;
    padding-left: 0;
    margin-top: 10px;


}

.main-nav__item{
    display: inline-block;
    margin-right: 10px;
   
}
.main-nav__item a{
    background-color: rgb(146, 34, 202);
    text-decoration: none;
    border-radius: .5rem;
    padding: 5px;
    color: white;
    font-size: 1rem;
    
}

.main-nav__item a:hover{
    color: rgb(55, 5, 86);
}
.main-nav__item a:active{
    color: rgb(159, 73, 213);
}
.main-nav__item a::after{
    content: " | ";
}
.main-nav__item a::before{
    content: " | ";
}

/* Usando GRID */

.imagen-container{
    display: grid;
    grid-template-areas: "imagen" "imagen" "imagen";
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-template-rows: auto;
    padding: 5rem;
}
.imagen{
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 15px 15px 20px #b631d0;
}
.imagen:hover{
   border: 2px dashed white;
}
.imagen img{
    height: 400px;
    width: 400px;
}

/*  blog&catalogo */

.conteinerotros iframe{
    width: 500px;
    height: 300px;
}

.conteinerotros h2{
    font-size: 30px;
    margin-bottom: 2rem;
    margin-left: 100px;
}

.conteinerotros{
    display: grid;
    grid-template-areas: "blogVissual" "catalogo";
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-template-rows: auto;
    padding: 5rem;

}

footer{
    background-color: #380243;
    color: #e9abf7;
}


@media (max-width: 768px){
    main{
        margin: 50px 0px 50px 200px;
    }
    h1{
        font-family:'Courier New', Courier, monospace;
        color: yellow;
    }
    h2{
        font-family:'Courier New', Courier, monospace;
        color: blue;
    }
    h3{
        font-family:'Courier New', Courier, monospace;
        color: red;
    }

}